.scoreboardContainer {
  background: #bb4f27;
  display: flex;
  flex-direction: column;
  max-width: 96%;
  padding: 25px 35px;
  border-radius: 16px;
  margin: auto;
  text-align: left;
  margin-top: 35px;
}
.score {
  font-size: 75px;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-weight: 400;
}
.textContainer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.scoreText {
  font-size: 30px;
  margin: 0;
}
.scoretText--span {
  font-size: 200px;
}
